html {
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;
}

.page-header {
    font-style: italic;
    background-color: lightgray;
    position: absoulte;
    text-align: center;
    padding: 10px;
    border-radius: 3%;
    width: 100%;
    margin: 2%;
}


.home-center {
    padding: 5px;
    width: 100%;
    margin: 2%;
    background-color: #7575;
    text-transform: uppercase;
    text-align: center;
}

.explore-box {
    padding: 10px 5px 10px 5px;
    width: 100%;
    margin: 2%;
    background-color: #7575;
    text-align: justify;
    border-radius: 5%;
}

#offer {
    margin-left: 2%;
    align-self: center;
    background-color: #7575;
    border-radius: 5%;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}


.bold {
    font-weight: bold;
}

footer {
    background-color: #bebebe;
    padding: 1em;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.nav-head-color {
    background-color: #7575;
}

.justify {
    text-align: justify;
}



.top {
    background-color: #7575;
    width: 1800px;
    justify-content: flex-end;
}